In [111]:
import pandas as pd
import numpy as np

In [112]:
df = pd.read_csv('data.csv', )
df.drop(df.columns[0], axis=1, inplace=True)
df.head()

,client_id,order_id,item_name,quantity,price,date
0,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-24
1,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Krombacher,1,8.0,2022-01-24
2,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Ahi Tuna,1,23.0,2022-01-24
3,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Little Gem Salad,1,14.0,2022-01-24
4,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Fire Pie,1,20.0,2022-01-24

In [113]:
#From Data Preprocessing steps we understand that, order_id attribute has alot of redundancy
#Therefore we use groupBy on order_id
grouped = df.groupby('order_id')['item_name'].apply(lambda x: list(x))
df = pd.DataFrame({'order_id': grouped.index, 'item_name': grouped.values})
df.head()

,order_id,item_name
0,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,"[Mimosa Package, Fire Pie, Breakfast Sandwich,..."
1,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,"[Focaccia, Iced Tea, Bubbling Shrimp, Hearth R..."
2,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,"[sunset on damen, Margaritas For Everyone, Moc..."
3,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,"[Well Tequila (Centenario Plata), Fire Pie, Pe..."
4,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,"[Lyre's Amalfi Spritz N/A, Focaccia, Grilled C..."

In [114]:
t1=[]
for i in range(0, 10000):
    t1.append(df['item_name'][i])
t2=[]
for i in range(10000, 20000):
    t2.append(df['item_name'][i])
t3=[]
for i in range(20000, 30000):
    t3.append(df['item_name'][i])
t4=[]
for i in range(30000, 40000):
    t4.append(df['item_name'][i])
t5=[]
for i in range(40000, 50000):
    t5.append(df['item_name'][i])
t6=[]
for i in range(50000, 60000):
    t6.append(df['item_name'][i])
t7=[]
for i in range(60000, 70000):
    t7.append(df['item_name'][i])
t8=[]
for i in range(70000, 80492):
    t8.append(df['item_name'][i])

In [115]:
transactions = t1+t2+t3+t4+t5+t6+t7+t8

In [116]:
!pip install apyori

Requirement already satisfied: apyori in c:\users\sanik\anaconda3\lib\site-packages (1.1.2)

In [117]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.001, min_confidence = 0.2, min_lift = 2, min_length = 2, max_length = 2)

In [118]:
results = list(rules)

In [119]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [120]:
resultsinDataFrame.head()

     Left Hand Side     Right Hand Side   Support  Confidence      Lift
0         *Beefeter  Etta Old Fashioned  0.001441    0.278177  4.030068
1  *Gran Centenario           Etta Rita  0.002385    0.291793  2.296346
2          *Playpen  Etta Old Fashioned  0.001118    0.205479  2.976863
3      Acorn Squash    Brussels Sprouts  0.003007    0.317169  7.738579
4      Acorn Squash             Burrata  0.002025    0.213630  2.592423

In [121]:
data = resultsinDataFrame[['Left Hand Side', 'Right Hand Side']]

In [124]:
data.to_csv('Model.csv')